<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">{{title}}</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a class="active" routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/discussions" routerLinkActive="active">Discussions</a></li>
        <li><a routerLink="/account" routerLinkActive="active">Account</a></li>
        <li><a routerLink="/movieadd" routerLinkActive="active">Add</a></li>
        <li><a>Username: {{getUser()}}</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
