<div class="container">
    <div class="row">
        <div class="card-group" style="background-color: white;" align="center">
            <div *ngFor="let movie of movies" class="card col-lg-4 col-sm-6 col-xs-12">
              <img style="margin: 0 auto;" src="{{movie.coverUrl}}"/>
              <div class="row">
                  <a (click)="goToDetail(movie._id)">{{movie.title}}</a>
                  <h4>Release: {{movie.releaseDate | date: 'dd.MM.yyyy'}}</h4>
              </div>
            </div>
          </div>
    </div>
</div>

