<h1>{{discussion.subject}}</h1>
<div *ngIf="areThereComments">
  <ol *ngFor="let comm of discussion.comments">
    <span>
      <h3>{{comm.user}}</h3>
      <p>{{comm.comment}}</p>
    </span>
  </ol>
</div>
<h2 *ngIf="!areThereComments">No comments yet...</h2>

<button *ngIf="!isAdding" (click)="show()">Post a comment</button>
<div *ngIf="isAdding">
  <input [(ngModel)]="comment" name="comment" placeholder="Your comment">
  <button (click)="addComment()">POST!</button>
  <button (click)="cancel()">Cancel</button>
</div>

